<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dao.ProductionManageMapper">
    <resultMap id="BaseResultMap" type="com.jnshu.pojo.ProductionManage">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="production_name" jdbcType="VARCHAR" property="productionName"/>
        <result column="production_intro" jdbcType="VARCHAR" property="productionIntro"/>
        <result column="firstdirectory" jdbcType="VARCHAR" property="firstdirectory"/>
        <result column="seconddirectory" jdbcType="VARCHAR" property="seconddirectory"/>
        <result column="thumbna_url" jdbcType="VARCHAR" property="thumbnaUrl"/>
        <result column="video_url" jdbcType="VARCHAR" property="videoUrl"/>
        <result column="infopicture_url" jdbcType="VARCHAR" property="infopictureUrl"/>
        <result column="production_info" jdbcType="VARCHAR" property="productionInfo"/>
        <result column="production_state" jdbcType="TINYINT" property="productionState"/>
        <result column="create_at" jdbcType="BIGINT" property="createAt"/>
        <result column="update_at" jdbcType="BIGINT" property="updateAt"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, production_name, production_intro, firstdirectory, seconddirectory, thumbna_url, 
    video_url, infopicture_url, production_info, production_state, create_at, update_at, 
    create_by
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from production_manage
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from production_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.jnshu.pojo.ProductionManage">
    insert into production_manage (id, production_name, production_intro, 
      firstdirectory, seconddirectory, thumbna_url, 
      video_url, infopicture_url, production_info, 
      production_state, create_at, update_at, 
      create_by)
    values (#{id,jdbcType=BIGINT}, #{productionName,jdbcType=VARCHAR}, #{productionIntro,jdbcType=VARCHAR}, 
      #{firstdirectory,jdbcType=VARCHAR}, #{seconddirectory,jdbcType=VARCHAR}, #{thumbnaUrl,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{infopictureUrl,jdbcType=VARCHAR}, #{productionInfo,jdbcType=VARCHAR}, 
      #{productionState,jdbcType=TINYINT}, #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jnshu.pojo.ProductionManage">
        insert into production_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productionName != null">
                production_name,
            </if>
            <if test="productionIntro != null">
                production_intro,
            </if>
            <if test="firstdirectory != null">
                firstdirectory,
            </if>
            <if test="seconddirectory != null">
                seconddirectory,
            </if>
            <if test="thumbnaUrl != null">
                thumbna_url,
            </if>
            <if test="videoUrl != null">
                video_url,
            </if>
            <if test="infopictureUrl != null">
                infopicture_url,
            </if>
            <if test="productionInfo != null">
                production_info,
            </if>
            <if test="productionState != null">
                production_state,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="productionName != null">
                #{productionName,jdbcType=VARCHAR},
            </if>
            <if test="productionIntro != null">
                #{productionIntro,jdbcType=VARCHAR},
            </if>
            <if test="firstdirectory != null">
                #{firstdirectory,jdbcType=VARCHAR},
            </if>
            <if test="seconddirectory != null">
                #{seconddirectory,jdbcType=VARCHAR},
            </if>
            <if test="thumbnaUrl != null">
                #{thumbnaUrl,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null">
                #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="infopictureUrl != null">
                #{infopictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="productionInfo != null">
                #{productionInfo,jdbcType=VARCHAR},
            </if>
            <if test="productionState != null">
                #{productionState,jdbcType=TINYINT},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jnshu.pojo.ProductionManage">
        update production_manage
        <set>
            <if test="productionName != null">
                production_name = #{productionName,jdbcType=VARCHAR},
            </if>
            <if test="productionIntro != null">
                production_intro = #{productionIntro,jdbcType=VARCHAR},
            </if>
            <if test="firstdirectory != null">
                firstdirectory = #{firstdirectory,jdbcType=VARCHAR},
            </if>
            <if test="seconddirectory != null">
                seconddirectory = #{seconddirectory,jdbcType=VARCHAR},
            </if>
            <if test="thumbnaUrl != null">
                thumbna_url = #{thumbnaUrl,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="infopictureUrl != null">
                infopicture_url = #{infopictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="productionInfo != null">
                production_info = #{productionInfo,jdbcType=VARCHAR},
            </if>
            <if test="productionState != null">
                production_state = #{productionState,jdbcType=TINYINT},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jnshu.pojo.ProductionManage">
    update production_manage
    set production_name = #{productionName,jdbcType=VARCHAR},
      production_intro = #{productionIntro,jdbcType=VARCHAR},
      firstdirectory = #{firstdirectory,jdbcType=VARCHAR},
      seconddirectory = #{seconddirectory,jdbcType=VARCHAR},
      thumbna_url = #{thumbnaUrl,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      infopicture_url = #{infopictureUrl,jdbcType=VARCHAR},
      production_info = #{productionInfo,jdbcType=VARCHAR},
      production_state = #{productionState,jdbcType=TINYINT},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>